body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.carrossel {
    width: 1900px; /* Largura fixa de 1920px */
    height: 600px; 
    position: relative;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: auto; /* Centraliza o carrossel na página */
}

.carrossel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carrossel-item {
    min-width: 1920px; /* Largura de cada item igual a do carrossel */
    box-sizing: border-box;
}

.carrossel-item img {
    width: 100%; /* As imagens ocupam toda a largura do item */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
