body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container1 {
    position: relative;
    width: 100%;
    height: auto;
    /* Ajuste conforme necessário */
}

.estrada {
    display: block; /* Remove espaços abaixo da imagem */
    width: 100%; /* Preenche toda a largura da viewport */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
    margin: 0; /* Remove possíveis margens */
} 

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    margin-left: 20px; /* Margem à esquerda */
    margin-right: 20px; /* Margem à direita */
    padding: 0 20px; /* Adiciona um pouco de padding ao redor da área de overlay */
}

.square {
    width: 30%;
    /* Largura dos quadrados */
    height: 60%;
    /* Altura dos quadrados */
    border-radius: 5px;
    /* Bordas arredondadas */
    background-color: #EB3A11;
    /* Cor dos quadrados */
    margin: 10px; /* Margem ao redor de cada quadrado */
}

.square1 {
    /* Estilo específico para square1 se necessário */
}

.square2 {
    /* Estilo específico para square2 se necessário */
}

.square3 {
    /* Estilo específico para square3 se necessário */
}
